.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.cell {
  width: 90px;
  height: 90px;
  background-color: white;
  border: 1px solid #333;
  cursor: pointer;
  transition: background-color 0.2s;
}


.cell.active {
  background-color: black;
}

.rotate-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rotate-button:hover {
  background-color: #0056b3;
}


